<%# Content Heading %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# Flash Message %>

<%- messages() %>

<%# Errors %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# Register Form %>

<form id="register-form" class="form" action="/account/register" method="post">
  <label>First name</label>
    <input type="text" id="register-fname--input" name="account_firstname" required placeholder="Enter your first name" required value="<%= locals.account_firstname %>">
  <label>Last name</label>
    <input type="text" id="register-lname--input" name="account_lastname" required placeholder="Enter your last name" required value="<%= locals.account_lastname %>">
  <label>Email address</label>
    <input type="email" id="register-email--input" name="account_email" required placeholder="Enter your email address" required value="<%= locals.account_email %>">
  <label>Password</label>
    <p class="specs">(must contain a minimum of 12 characters, a capital letter, a number, and a special character)</p>
  <input type="password" id="register-password--input" name="account_password" required placeholder="Choose a password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
  <button id="register__eye-toggle" type="button" title="Show Password"><img src="/images/icons/password-hide.png" alt="Show password" width="24" height="24"></button>
  <button id="register-button">Register</button>
</form>

<%# Show/Hide Password link %>

<script src="/js/script.js" defer></script>